<nav class="navbar navbar-expand-lg <%= menuTheme %> <%= menuColor %> static-top mb-5 shadow">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#"><%= domain %></a> |
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <% for(var i = 0; i < menuTopicsUKR.length; i++) {%>
                <% var url = menuTopics[i].toLowerCase().replace(" ", "") + "UKR"; %>
                <% if(title === menuTopics[i]){ %>
                    <li class="nav-item active">
                        <a class="nav-link disabled" href="/<%= url %>"><%= menuTopicsUKR[i] %></a>
                    </li>
                <% } else{ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/<%= url %>"><%= menuTopicsUKR[i] %></a>
                    </li>
                <% } %>
            <% } %>
        </ul>

        <ul class="navbar-nav form-inl ine my-2 my-lg-0">
            <li class="nav-item ">
                <a class="nav-link" href="/">ENG</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link disabled" href="#">UKR</a>
            </li>
        </ul>

    </div>
</nav>